<section id="about" class="about">
    <h1>About</h1>
    <div class="education-container">
        <!-- Education Box 1 -->
        <div class="education-box">
            <img src="{{ url_for('static', filename='images/school/LNHS.jpg') }}" alt="School 1" class="education-img">
            <h3>Lumban National High School</h3>
            <p class="education-year">2018 - 2022</p>
            <div class="education-description">
                <p>Finished highschool in Lumban National High School. Graduated with honors.</p>
            </div>
        </div>

        <!-- Education Box 2 -->
        <div class="education-box">
            <img src="{{ url_for('static', filename='images/school/PSBC.png') }}" alt="School 2" class="education-img">
            <h3>Paete Science and Business College Inc. Pagsanjan</h3>
            <p class="education-year">2022 - 2024</p>
            <div class="education-description">
                <p>Graduated with high honors, Best in Research(with flying colors), and Best in Capstone Paper. Finished STEM under PSBC.</p>
            </div>
        </div>

        <!-- Education Box 3 -->
        <div class="education-box">
            <img src="{{ url_for('static', filename='images/school/LSPU.jpg') }}" alt="School 3" class="education-img">
            <h3>Laguna State Polytechnic University—Sta. Cruz</h3>
            <p class="education-year">2024 - Present</p>
            <div class="education-description">
                <p>Currently studying Bachelor of Science in Information Technology.</p>
            </div>
        </div>
    </div>


    <div class="info-container">
        <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            <p>Lumban, Laguna, Philippines</p>
        </div>

        <div class="course">
            <i class="fas fa-graduation-cap"></i>
            <p>Bachelor of Science in Information Technology</p>
        </div>
    </div>
</section>
