<section id="about" class="about">
    <p>I'm a Bachelor of Science in Information Technology (BSIT) student with hands-on experience in web and
mobile application development. Skilled in building functional websites and cross-platform mobile
applications using Flutter, with foundational knowledge in Python, basic JavaScript, and database
management using MySQL and Supabase. Familiar with UI/UX design principles and committed to
continuous learning, problem-solving, and applying technical skills to real-world academic and
community-based projects.
</p>
</section>