<h4>Projects</h4>
<section id="projects" class="projects">
    <div class="project-grid">
        <div class="project-card">
            <img src="static/images/photogrid.png" alt="MajayjayScholars"  class="project-img">
    
            <div class="project-links">
                <a href="https://github.com/reneerosetuason/Majayjay-Scholars" target="_blank" title="View Code">
                <i class="fab fa-github"></i>
                </a>
            </div>
            
            <h3>🎓MajayjayScholars</h3>
            <p>A website and mobile application that enables student scholars from Majayjay, Laguna
                to apply and renew their scholarship reducing the paper work.
            </p>

</section>
