<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">

<section id="skills" class="skills">
<h1>Skills</h1>
<div class="skill-item">
        <i class="devicon-python-plain colored"></i>
        <p>Python</p>
    </div>
    
    <div class="skill-item">
        <i class="devicon-html5-plain colored"></i>
        <p>HTML5</p>
    </div>
    
    <div class="skill-item">
        <i class="devicon-css3-plain colored"></i>
        <p>CSS3</p>
    </div>
    
    <div class="skill-item">
        <i class="devicon-mysql-plain colored"></i>
        <p>MySQL</p>
    </div>
    
    <div class="skill-item">
        <i class="devicon-supabase-plain colored"></i>
        <p>Supabase</p>
    </div>

    <div class="skill-item">
        <i class="devicon-github-plain colored"></i>
        <p>GitHub</p>
    </div>

    <div class="skill-item">
        <i class="devicon-figma-plain colored"></i>
        <p>Figma</p>
    </div>

    <div class="skill-item">
        <i class="devicon-flutter-plain colored"></i>
        <p>Flutter</p>
    </div>

    <div class="skill-item">
        <i class="devicon-dart-plain colored"></i>
        <p>Dart</p>
    </div>

</section>